@media (min-width: 800px) {
    .header {
        background-size: 1800px ;
        background-position-y: -600px;        
    }
    .header__head {
        justify-content: space-around;
    }
    .head__nav {
        display: none;
    }
    .modal__container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        position: static;
        background-color: transparent;
    }
    .buttons__container {
        border: none;
        display: flex;
    }
    .simple__container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .red {
        display: none;
    }
    .white {
        display: inline;
        margin-left: 5px;
    }
    .modal__button {
        width: 100px;
        margin: 0;
        border: none;
        color: #fff;
        cursor: pointer;
    }
    .modal__button:hover {
        text-decoration: underline;
    }
    .modal__list {
        text-align: start;
        margin-top: 10px;
        background-color: #fff;
        position: absolute;
        top: 30px;
    }
    .modal__list li {
        margin: 5px;
        padding: 5px;
    }
    .modal__list a {
        font-size: 1.4rem;
        opacity: 0.8;
    }
    .modal__list li a:hover {
        opacity: 1;
        font-weight: bold;
    }
    .session {
        padding: 0px;
        flex-direction: row;
    }
    .session__login {
        width: 100px;
        margin-bottom: 0px;
        color: #fff;
        opacity: 0.7;
        background-color: transparent;
    }
    .session__signup {
        color: var(--color-light-red);
        background-color: #fff;
    }
    .session__signup:hover {
        color: #fff;
        background-color: var(--color-very-light);
    }
}