:root {
    --color-light: hsl(356, 100%, 66%);
    --color-very-light: hsl(355, 100%, 74%);
    --color-dark-blue: hsl(208, 49%, 24%);
    --color-white: hsl(0, 0%, 100%);
    --color-neutral: hsl(240, 2%, 79%);
    --color-grays-blue: hsl(207, 13%, 34%);
    --color-very-dark-blue: hsl(240, 10%, 16%);
    --color-very-light-red: hsl(13, 100%, 72%);
    --color-light-red: hsl(353, 100%, 62%);
    --color-very-dark-gray-blue: hsl(237, 17%, 21%);
    --color-very-dark-des-blue: hsl(237, 23%, 32%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Overpass', sans-serif;
    min-height: 375px;
}
.header {
    width: 100%;
    height: 500px;
    padding-bottom: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--color-light-red);
    background-image: url('../images/bg-pattern-intro.svg');
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position-x: -300px;
    background-position-y: -210px;
    
}
.header__head {
    width: 100%;
    padding: 50px 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head__brand img {
    width: 90px;
}
.head__nav {
    border: none;
    outline: none;
    background-color: transparent;
}
.head__close {
    display: none;
}
.modal__container {
    display: none;
    position: absolute;
    top: 110px;
    right: 20px;
    z-index: 2;
    width: 320px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}
.buttons__container {
    border-bottom: 1px solid var(--color-neutral);
}
.red {
    display: inline;
}
.white {
    display: none;
}
.modal__button {
    margin-bottom: 20px;
    width: 100%;
    border: none;
    font-weight: bold;
    font-size: 1.4rem;
    outline: none;
    background-color: transparent;
}
.modal__list {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    background-color: #efefef;
    display: none;
}
.modal__list li {
    margin: 5px;
    padding: 5px;
}
.modal__list a {
    text-decoration: none;
    color: var(--color-dark-blue);
    font-size: 1.4rem;
    font-weight: bold;
}
.session {
    padding: 20px 20px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.session__login {
    width: 100px;
    margin-bottom: 10px;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    outline: none;
    background-color: transparent;
}
.session__signup {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 17.5px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    background-color: var(--color-light-red);
}

.header__title .title {
    padding: 40px 0px 0px;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4.4rem;
    color: #fff;
    text-align: center;
}
.header__title .pharagraph {
    width: 90%;
    padding: 0 10px;
    margin: 0 auto;
    margin-top: 10px;
    color: var(--color-white);
    font-size: 1.8rem;
    opacity: 0.7;
    line-height: 2.4rem;
    text-align: center;
}
.button-one, .button-two {
    width: 130px;
    height: 50px;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    outline: none;
    letter-spacing: 0.2px;
}
.button-one {
    margin-right: 10px;
    color: var(--color-light-red);
    cursor: pointer;
}
.button-one:hover {
    color: #fff;
    background-color: var(--color-very-light-red);
}
.button-two {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}
.button-two:hover {
    color: var(--color-light-red);
    background-color: #fff;
}
.designed__future {
    width: 100%;
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.designed__future--title {
    font-size: 2.6rem;
    margin-bottom: 50px;
}
.designed__future--image {
    margin-bottom: 50px;
}
.designed__future--image img:nth-of-type(2) {
    display: none;
}
.designed__future--descriptions {
    width: 80%;
}
.article {
    margin-bottom: 40px;
    text-align: center;
}
.article__title {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 2.6rem;
}
.article__description {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--color-very-dark-des-blue);
}
.designed__future--state {
    margin-top: 200px;
    padding-bottom: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 100%;
    background-color: var(--color-very-dark-gray-blue);
    background-image: url('../images/bg-pattern-circles.svg');
    background-size: 600px 600px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -250px;
}
.phone__picture {
    display: flex;
    justify-content: center;
    margin-top: -170px;
}
.phone__picture img {
    width: 375px;
}
.states {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.state__title {
    margin-bottom: 20px;
    font-size: 3rem;
    line-height: 4.5rem;
    color: #fff;
}
.state__description {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--color-neutral);
}
.designed__future--last-section {
    width: 80%;
}
.second__pic img {
    width: 375px;
    margin: 50px 0 50px;
}
.footer {
    width: 100%;
    padding: 80px 80px 50px;
    border-top-right-radius: 100px;
    text-align: center;
    background-color: var(--color-very-dark-blue);
}
.footer__logo {
    margin-bottom: 70px;
}
.footer-article__title {
    margin-bottom: 30px;
    font-size: 1.8rem;
    color: #fff;
}
.footer__list {
    margin-bottom: 50px;
    list-style: none;
}
.footer__list li {
    margin: 10px;
}
.footer__list li a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #fff;
}